*.egg-info*
*.ipynb_checkpoints*
*/venv/*
*.fasta
*DTASelect-filter*
*.fas
*.fa
.git
.idea
__pycache__
.ipynb_checkpoints
*.pyc
.DS_Store
*.gz
*.tar
*.clstr
*.csv
*.shelve
*.pkl
*.ppt*
*.png
*.jpg
*.jpeg
*.dmp
*.dump
*.fas
